/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
:root {
    --topdown-banner: #c34e70;
    --title: #d34370;
    --bg-card: #0f0e16;
    --mail: #7ac4e5;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Fredoka', sans-serif;
}

h1 {
    margin: 1.6rem 0;
    color: var(--title);
    font-size: 2rem;
    font-weight: bolder;
}

h2 {
    color: white;
    font-weight: bold;
    margin-top: 0.7rem;
}

span {
    display: inline-block;
}

.profession {
    color: white;
    margin: 0.4rem 0;
}

.mail {
    color: lightblue;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.big-container::after,
.big-container::before {
    content:"";
    background-color: var(--topdown-banner);
    height: 3.5rem;
    width: 100%;
    display: inline-block;
}

.intro {
    font-size: 1rem;
}

.team {
    margin: 1.6rem;    
}



.columns {
    width: calc(100% / 3);
    height: 100%;
    display: inline-block;
    float: left;
}

.cards {
    width: 95%;
    height: 50%;
    background-color: var(--bg-card);
    text-align: left ;
    margin: 5rem 0;
}

.floated {
    float: left;
    display: inline-block;
    height: 100%;
    width: 30%;

}
 .mail {
    color: var(--mail);
}

.cards {
    clear: both;
    display: table;
    content: "";
}

.bio {
    margin-left: 7.5rem;
}



















/* DEBUG */
.container {
    background-color: rgb(110, 131, 124);

}

.columns, .cards {
    border: 2px solid blue;
    
}