/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
img {
    max-width: 100%;
}

body {
    font-family: 'Fredoka', sans-serif;
}

h1 {
    margin: 1.6rem 0;
    color: var(--title);
    font-size: 2rem;
    font-weight: bolder;
}

:root {
    --topdown-banner: #c34e70;
    --title: #d34370;
    --bg-card: #0f0e16;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.big-container::after,
.big-container::before {
    content:"";
    background-color: var(--topdown-banner);
    height: 3.5rem;
    width: 100%;
    display: inline-block;
}

.intro {
    font-size: 1rem;
}

.team {
    margin: 1.6rem;
}
.columns {
    width: calc(99% / 3);
    display: inline-block;
}

.cards {
    height: calc(99% / 2);
}




















/* DEBUG */
.container {
    background-color: rgb(110, 131, 124);

}

.col-1, .col-2, .col-3, .cards {
    border: 2px solid blue;
    
}